.explore-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.explore-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}

.minified-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 4px rgba(0, 0, 0, 0.25);
}