.minified-sticker-book {
    position: relative;
    width: 600px;
    height: 450px;
    background-color: #f5f5f5;
    overflow: hidden;
}

.minified-card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:baseline;
    align-items: center;
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.minified-card-header img {
    width: 50px;
    height: 50px;
}

.linksticker {
    display: block;
    text-align: center;
    background: #e0f7fa;
    border: 1px solid #00796b;
    color: #00695c;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}

.audio-sticker audio {
    width: 100%;
}

.minified-card-header .timestamp {
    font-size: 0.8rem;
    color: #666;
    margin-top: 4px;
    font-style: italic;
    margin-left: auto;
}