.sticker {
    cursor: move;
    position: relative;
    max-width: 800px;
    max-height: 600px;
    box-sizing: border-box;
}

p {
    margin-top: 0;
    padding: 0;
}

.remove-button {
    position: absolute;
    top: -20px;
    right: 0px;
    background: none;
    color: red;
    border: none;
    cursor: pointer;
    display: none;
    width: 20px;
    height: 20px;
}

.edit-button {
    position: absolute;
    top: -20px;
    left: 0px;
    background: none;
    color: blue;
    border: none;
    cursor: pointer;
    display: none;
    width: 20px;
    height: 20px;
}

.sticker:hover {
    border: 1px solid #000;
}

.sticker:hover .edit-button,
.sticker:hover .remove-button {
    display: block;
}

.remove-button:focus {
    outline: none;
    background: none;
}

.resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: #666;
    cursor: nwse-resize;
    border-radius: 50%;
}

.linksticker {
    display: block;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    line-height: 100%;
    box-sizing: border-box;
}

.audio-sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.audio-controls {
    justify-self: flex-start;
    flex-shrink: 1;
}

.audio-wave {
    flex-grow: 1;
    /* height: 100%; */
}

.ql-font-serif {
    font-family: 'serif';
}

.ql-font-monospace {
    font-family: 'monospace';
}

.ql-font-sans-serif {
    font-family: 'Helvetica, Arial, sans-serif';
}

.ql-font-size-small {
    font-size: 0.75em;
}

.ql-font-size-large {
    font-size: 1.5em;
}

.ql-font-size-huge {
    font-size: 2.5em;
}

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

.ql-align-right {
    text-align: right;
}

.ql-align-left {
    text-align: left;
}

