.sticker {
    cursor: move;
    position: relative;
    max-width: 800px;
    max-height: 600px;
    box-sizing: border-box;
}

p {
    margin-top: 0;
    padding: 0;
}

.remove-button {
    position: absolute;
    top: -20px;
    right: 0px;
    background: none;
    color: red;
    border: none;
    cursor: pointer;
    display: none;
    width: 20px;
    height: 20px;
}

.edit-button {
    position: absolute;
    top: -20px;
    left: 0px;
    background: none;
    color: blue;
    border: none;
    cursor: pointer;
    display: none;
    width: 20px;
    height: 20px;
}

.sticker:hover {
    border: 1px solid #000;
}

.sticker:hover .edit-button,
.sticker:hover .remove-button,
.sticker:hover .react-resizable-handle {
    display: block;
}

.remove-button:focus {
    outline: none;
    background: none;
}

.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url('data:image/svg+xml;base64,...') no-repeat center center;
    cursor: se-resize;
    display: none;
}