.sticker-selection {
    flex-shrink: 1;
    width: auto;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    z-index: 100;
}
.sticker-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}